$primary: #f26e50;
$secondary: #5890a6;
$light: #f2f1f0;
$dark: #1a3540;
$danger: #f23d3d;

$body-bg: #e5e5e5;

$navbar-light-active-color: $primary;
$navbar-light-brand-color: $dark;
$navbar-light-hover-color: $primary;

$font-family-base: "Roboto Slab", serif;
