html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.form-control {
  background-color: white;
}

.carousel-inner {
  max-height: 360px;
}

.card-img-top {
  object-fit: cover;
  height: 50vw;
}

.cart-img {
  object-fit: cover;
  height: 30vw;
  width: 30vw;
}

a {
  color: $dark;
  text-decoration: none;
}

@media (min-width: 768px) {
  .card-img-top {
    height: 20vw;
  }

  .cart-img {
    object-fit: cover;
    height: 10vw;
    width: 10vw;
  }
}
