h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h1 {
  text-transform: uppercase;
  margin-top: 2%;
}

.nav__logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-weight: 700;
}

.nav-item {
  font-family: "Roboto Slab", serif;
}

/*
font-family: "Cormorant Garamond", serif;
font-family: "Roboto Slab", serif;
font-family: "Source Sans Pro", sans-serif;
*/
